<section class="container">
  <header class="container--header">
    <h1>Custom Guides</h1>

    <button class="button-primary btn-login">Log In</button>
  </header>

  <main class="container--main">
    <div>
      <h1>We Make Your Tour Dreams In Reality</h1>
      <p>Start your dreams with custom guides, the software with better experience in guide tour</p>
      <button class="button-lg-tertiary" (click)="startTour()">Get started</button>
    </div>
    <div>
      <!--IMAGE HERE-->
      <img src="./assets/hero.svg" alt="Hero image">
    </div>
  </main>

  <div class="container--my--services">
    <h1 class="title-my-services">My Services</h1>
    <div class="container--services">
      <div class="card-free">
        <h2>Free</h2>
        <p>Free for all</p>
      </div>
      <div class="card-contributory">
        <h2>contributory</h2>
        <p>We use the app design contributory</p>
      </div>
      <div class="card-open-source">
        <h2>Open Source</h2>
        <p>Open source for all</p>
      </div>
    </div>
  </div>
</section>
